dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
*.swp
.stack-work/
cabal.project.local
.HTF/
test/datalog_tests/*.ast
test/datalog_tests/*.err
test/datalog_tests/*.dump
test/datalog_tests/*.c
.idea/
out/
*.cabal
cabal.config
differential-datalog.iml
**Cargo.lock
**.swo
test/datalog_tests/*/*
**/target/*
**cmd_parser_history.txt
