dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
*.swp
.stack-work/
cabal.project.local
.HTF/
test/datalog_tests/*.ast
.idea/
out/
*.cabal
cabal.config
differential-datalog.iml

